{% extends 'layouts/mts-without-container.layout.njk' %}
{% set pageTitle = 'Check vehicle recalls' %}
{% block content %}
  <a href="https://www.gov.uk/check-vehicle-recall" class="link-back">Back</a>

    {% if errorMessage %}
      {% set elementId = 'recalls-vehicle' %}
      {% include './layouts/partials/error-message.njk' %}
    {% endif %}

    <header class="content-header">
      <h1 class="heading-large heading heading--page-heading heading--small-margin-bottom">
        What type of recall information are you looking for?</h1>
    </header>
    <div class="row contents">
      <div class="col-lg-12">
        <div class="grid-row">
          <div class="column-three-quarters">
            <form method="POST">
              <div class="form-group {% if errorMessage %}form-group-error{% endif %}">
                <fieldset>
                  {% if errorMessage %}
                    <span class="error-message">{{ errorMessage }}</span>
                  {% endif %}
                  <div class="multiple-choice">
                    <input id="recalls-vehicle" type="radio" name="recallType" value="vehicle">
                    <label for="recalls-vehicle">Vehicle safety recalls</label>
                  </div>
                  <div class="multiple-choice">
                    <input id="recalls-other" type="radio" name="recallType" value="equipment">
                    <label for="recalls-other">Other recalled equipment<span class="form-hint">For example, tyres or child seats</span></label>
                  </div>
                </fieldset>
              </div>
              <input id="continue-button" class="button" type="submit" value="Continue">
            </form>
            <h3 class="heading-medium">Download recall information</h3>
            <div class="notice">
              <i class="icon icon-file-download">
                <span class="visually-hidden">Download All recalls since 1992</span></i>
              <p>
                <a id="csv-data-link" href="{{ documentsBaseUrl }}/RecallsFile.csv">
                  <strong>All recalls since 1992</strong>
                  (CSV, 5mb)</a>
              </p>
            </div>
            <div class="notice">
              <i class="icon icon-file-download">
                <span class="visually-hidden">Download Recalls data guide</span></i>
              <p>
                <a id="data-guide-link" href="{{ documentsBaseUrl }}/Recalls%20Data%20User%20Guide_v4.doc">
                  <strong>Recalls data guide</strong>
                  (DOC, 860kb)</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
