{% extends 'layouts/mts-without-container.layout.njk' %}
{% set pageTitle = 'What make is the ' + recallType + '?' %}

{% block content %}
  <a href="{{ BASE_URL }}/recall-type" class="link-back">Back</a>

  {% if errorMessage %}
    {% set elementId = 'make' %}
    {% include './layouts/partials/error-message.njk' %}
  {% endif %}

  <header class="content-header">
    <h1 class="heading-large heading heading--page-heading heading--small-margin-bottom">
      What make is the {{recallType}}?
    </h1>
  </header>

  <div class="row contents">
    <div class="col-lg-12">
      <div class="grid-row">
        <div class="column-three-quarters">
          <form method="POST">
            <div class="form-group {% if errorMessage %}form-group-error{% endif %}">
              <p class="">
                  {{recallsAvailabilityNotice}}
              </p>
              {% if errorMessage %}
                <span class="error-message">{{ errorMessage }}</span>
              {% endif %}
              <select class="form-control" id="make" name="make">
                <option value="">Choose a make</option>
                {% for make in makes %}
                <option value="{{make}}">{{make}}</option>
                {% endfor %}
              </select>
            </div>
            <p>
              <a href="make-not-listed" id="recall-not-listed-link">Why is my {{recallType}} make not listed?</a>
            </p>
            <div>
              <input id="continue-button" class="button" type="submit" value="Continue" style="margin-top:30px">
            </div>
          </form>
        </div>
        <h3 class="heading-medium">Download recall information</h3>
          <div class="notice">
            <i class="icon icon-file-download">
              <span class="visually-hidden">Download All recalls since 1992</span></i>
                <p>
                  <a id="csv-data-link" href="{{ documentsBaseUrl }}/RecallsFile.csv">
                    <strong>All recalls since 1992</strong>
                      (CSV, 5MB)</a>
                </p>
          </div>
          <div class="notice">
            <i class="icon icon-file-download">
              <span class="visually-hidden">Download Recalls data guide</span></i>
                <p>
                  <a id="data-guide-link" href="{{ documentsBaseUrl }}/Recalls%20Data%20User%20Guide_v4.doc">
                    <strong>Recalls data guide</strong>
                      (DOC, 860KB)</a>
                </p>
          </div>
      </div>
    </div>
  </div>
{% endblock %}
