{% extends 'layouts/mts-without-container.layout.njk' %}
{% set pageTitle = 'What make is the ' + recallType + '?' %}

{% block content %}
<main id="content">
  <a href="recalls" class="link-back">Back</a>

  {% if errorMessage %}
    {% set elementId = 'make' %}
    {% include './layouts/partials/error-message.njk' %}
  {% endif %}

  <header class="content-header">
    <h1 class="heading-large heading heading--page-heading heading--small-margin-bottom">
      What make is the {{recallType}}?
    </h1>
  </header>

  <div class="row contents">
    <div class="col-lg-12">
      <div class="grid-row">
        <div class="column-three-quarters">
          <form method="POST" action="vehicle-make?recallType={{recallType}}">
            <div class="form-group {% if errorMessage %}form-group-error{% endif %}">
              <p class="">This service only includes {{recallType}}s that have been recalled.</p>
              {% if errorMessage %}
                <span class="error-message">{{ errorMessage }}</span>
              {% endif %}
              <select class="form-control" id="make" name="make">
                <option value="">Choose a make</option>
                {% for make in makes %}
                <option value="{{make}}">{{make}}</option>
                {% endfor %}
              </select>
            </div>
            <div>
              <input id="continue-button" class="button" type="submit" value="Continue" style="margin-top:30px">
            </div>
          </form>
        </div>
      </div>
</main>
{% endblock %}
