<!-- body-scripts -->
<!--[if (gte IE 9) | (!IE)]><!-->
<script type="text/javascript" src="{{ ASSETS_BASE_URL }}/javascripts/vendor.bundle.js"></script>
<script type="text/javascript" src="{{ ASSETS_BASE_URL }}/javascripts/dvsa.bundle.js"></script>
<script type="text/javascript" src="{{ ASSETS_BASE_URL }}/javascripts/dvsa-cvr.bundle.js"></script>

<!--<![endif]-->

{% block bodyScripts %}{% endblock %}
<!-- /body-scripts -->
