<!-- body-scripts -->
<!--[if (gte IE 9) | (!IE)]><!-->
<script type="text/javascript" src="{{ assetsBaseUrl }}/javascripts/vendor.bundle.js"></script>
<script type="text/javascript" src="{{ assetsBaseUrl }}/javascripts/dvsa.bundle.js"></script>
<!--<![endif]-->

{% block bodyScripts %}{% endblock %}
<!-- /body-scripts -->