<!-- cookie-message -->
<div id="global-cookie-message">
  <p>GOV.UK uses cookies to make the site simpler. <a href="{{ BASE_URL }}/cookie-policy">Find out more about cookies</a></p>
</div>
<!-- /cookie-message -->
