<!-- phase-banner -->
<div class="phase-banner" id="phase-banner">
  <p>
    <span>This is a new service. <a id="phase-link" href="{{ smartSurveyFeedback.formUrl() }}">Complete a quick survey</a> to help us improve.</span>
  </p>
</div>
<!-- /phase-banner -->