<h3 class="heading-medium">Download vehicle and equipment recall information</h3>
<div class="notice">
    <i class="icon icon-file-download">
        <span class="visually-hidden">Download All recalls since 1992</span></i>
    <p>
        <a id="csv-data-link" href="{{ documentsBaseUrl }}/RecallsFile.csv">
            <strong>All recalls since 1992</strong>
            (CSV, 5MB)</a>
    </p>
</div>
<div class="notice">
    <i class="icon icon-file-download">
        <span class="visually-hidden">Download Recalls data guide</span></i>
    <p>
        <a id="data-guide-link" href="{{ documentsBaseUrl }}/Recalls%20Data%20User%20Guide_v4.doc">
            <strong>Recalls data guide</strong>
            (DOC, 860KB)</a>
    </p>
</div>